openapi: 3.0.1
info:
  title: API
  description: Audius V1 API
  version: "1.0"
servers:
- url: https://api.audius.co/v1
tags:
- name: users
  description: User related operations
- name: playlists
  description: Playlist related operations
- name: tracks
  description: Track related operations
- name: challenges
  description: Challenge related operations
- name: tips
  description: Tip related operations
- name: developer_apps
  description: Developer app related operations
- name: dashboard_wallet_users
  description: Protocol dashboard wallet users related operations
- name: resolve
  description: Audius Cannonical URL resolver
- name: comments
  description: Comment related operations
- name: events
  description: Events related operations
- name: explore
  description: Explore related operations
- name: rewards
  description: Rewards related operations
paths:
  /challenges/undisbursed:
    get:
      tags:
      - challenges
      description: Get all undisbursed challenges
      operationId: Get Undisbursed Challenges
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: A User ID to filter the undisbursed challenges to a particular
          user
        schema:
          type: string
      - name: completed_blocknumber
        in: query
        description: Starting blocknumber to retrieve completed undisbursed challenges
        schema:
          type: integer
      - name: challenge_id
        in: query
        description: A challenge ID to filter the undisbursed challenges to a particular
          challenge
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undisbursed_challenges'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /challenges/undisbursed/{user_id}:
    get:
      tags:
      - challenges
      description: Get all undisbursed challenges for a user
      operationId: Get Undisbursed Challenges For User
      parameters:
      - name: user_id
        in: path
        description: A User ID to filter the undisbursed challenges to a particular
          user
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: completed_blocknumber
        in: query
        description: Starting blocknumber to retrieve completed undisbursed challenges
        schema:
          type: integer
      - name: challenge_id
        in: query
        description: A challenge ID to filter the undisbursed challenges to a particular
          challenge
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undisbursed_challenges'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /comments/unclaimed_id:
    get:
      tags:
      - comments
      description: Gets an unclaimed blockchain comment ID
      operationId: Get unclaimed comment ID
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unclaimed_id_response'
        "500":
          description: Server error
          content: {}
  /comments/{comment_id}:
    get:
      tags:
      - comments
      description: Gets a comment by ID
      operationId: Get Comment
      parameters:
      - name: comment_id
        in: path
        description: A Comment ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_response'
        "500":
          description: Server error
          content: {}
  /comments/{comment_id}/replies:
    get:
      tags:
      - comments
      description: Gets replies to a parent comment
      operationId: Get Comment Replies
      parameters:
      - name: comment_id
        in: path
        description: A Comment ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_replies_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /dashboard_wallet_users:
    get:
      tags:
      - dashboard_wallet_users
      description: Gets Audius user profiles connected to given dashboard wallet addresses
      operationId: Bulk get dashboard wallet users
      parameters:
      - name: wallets
        in: query
        description: The wallets for which to fetch connected Audius user profiles.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard_wallet_users_response'
        "400":
          description: Bad request
          content: {}
        "404":
          description: No such dashboard wallets
          content: {}
        "500":
          description: Server error
          content: {}
  /developer_apps/{address}:
    get:
      tags:
      - developer_apps
      description: Gets developer app matching given address (API key)
      operationId: Get Developer App
      parameters:
      - name: address
        in: path
        description: A developer app address (API Key)
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/developer_app_response'
        "400":
          description: Bad request
          content: {}
        "404":
          description: Not found
          content: {}
        "500":
          description: Server error
          content: {}
  /events:
    get:
      tags:
      - events
      description: Get a list of events by ID
      operationId: Get Bulk Events
      parameters:
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: id
        in: query
        description: The ID of the event(s) to retrieve
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: event_type
        in: query
        description: The type of event to filter by
        schema:
          type: string
          enum:
          - remix_contest
          - live_event
          - new_release
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /events/all:
    get:
      tags:
      - events
      summary: Get all events
      description: Get all events
      operationId: Get All Events
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          default: newest
          enum:
          - newest
          - timestamp
      - name: event_type
        in: query
        description: The type of event to filter by
        schema:
          type: string
          enum:
          - remix_contest
          - live_event
          - new_release
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /events/entity:
    get:
      tags:
      - events
      summary: Get events for a specific entity
      description: Get events for a specific entity
      operationId: Get Entity Events
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: entity_id
        in: query
        description: The ID of the entity to get events for
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: entity_type
        in: query
        description: The type of entity to get events for
        schema:
          type: string
          enum:
          - track
          - collection
          - user
      - name: filter_deleted
        in: query
        description: Whether to filter deleted events
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /events/unclaimed_id:
    get:
      tags:
      - events
      description: Gets an unclaimed blockchain event ID
      operationId: Get unclaimed event ID
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unclaimed_id_response'
        "500":
          description: Server error
          content: {}
  /explore/best-selling:
    get:
      tags:
      - explore
      summary: Get best selling tracks and/or albums
      description: Get best selling tracks and playlists
      operationId: Get Best Selling
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: type
        in: query
        description: The type of content to filter by
        schema:
          type: string
          default: all
          enum:
          - all
          - track
          - album
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/best_selling_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /playlists:
    get:
      tags:
      - playlists
      description: Gets a list of playlists by ID
      operationId: Get Bulk Playlists
      parameters:
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: id
        in: query
        description: The ID of the playlist(s)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: upc
        in: query
        description: The UPC of the playlist(s)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playlist_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /playlists/by_permalink/{handle}/{slug}:
    get:
      tags:
      - playlists
      description: Get a playlist by handle and slug
      operationId: Get Playlist By Handle and Slug
      parameters:
      - name: handle
        in: path
        description: playlist owner handle
        required: true
        schema:
          type: string
      - name: slug
        in: path
        description: playlist slug
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playlist_response'
  /playlists/search:
    get:
      tags:
      - playlists
      description: Search for a playlist
      operationId: Search Playlists
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: query
        in: query
        description: The search query
        schema:
          type: string
      - name: genre
        in: query
        description: The genres to filter by
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - relevant
          - popular
          - recent
      - name: mood
        in: query
        description: The moods to filter by
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: includePurchaseable
        in: query
        description: Whether or not to include purchaseable content
        schema:
          type: string
      - name: has_downloads
        in: query
        description: Only include tracks that have downloads in the track results
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playlist_search_result'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /playlists/trending:
    get:
      tags:
      - playlists
      description: Gets trending playlists for a time period
      operationId: Get Trending Playlists
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: time
        in: query
        description: Calculate trending over a specified time range
        schema:
          type: string
          enum:
          - week
          - month
          - year
          - allTime
      - name: type
        in: query
        description: The type of content to filter by
        schema:
          type: string
          default: playlist
          enum:
          - playlist
          - album
      - name: omit_tracks
        in: query
        description: Whether to omit tracks from the response
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trending_playlists_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /playlists/{playlist_id}:
    get:
      tags:
      - playlists
      description: Get a playlist by ID
      operationId: Get Playlist
      parameters:
      - name: playlist_id
        in: path
        description: A Playlist ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playlist_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /playlists/{playlist_id}/access-info:
    get:
      tags:
      - playlists
      description: Gets the information necessary to access the playlist and what
        access the given user has.
      operationId: Get Playlist Access Info
      parameters:
      - name: playlist_id
        in: path
        description: A Playlist ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_info_response'
  /playlists/{playlist_id}/tracks:
    get:
      tags:
      - playlists
      description: Fetch tracks within a playlist.
      operationId: Get Playlist Tracks
      parameters:
      - name: playlist_id
        in: path
        description: A Playlist ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playlist_tracks_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /resolve:
    get:
      tags:
      - resolve
      summary: Resolves and redirects a provided Audius app URL to the API resource
        URL it represents
      description: |-
        This endpoint allows you to lookup and access API resources when you only know the
        audius.co URL.
        Tracks, Playlists, and Users are supported.
      operationId: Resolve
      parameters:
      - name: url
        in: query
        description: URL to resolve. Either fully formed URL (https://audius.co) or
          just the absolute path
        required: true
        schema:
          type: string
      responses:
        "302":
          description: Internal redirect
          content: {}
  /tips:
    get:
      tags:
      - tips
      description: Gets the most recent tips on the network
      operationId: Get Tips
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: receiver_min_followers
        in: query
        description: Only include tips to recipients that have this many followers
        schema:
          type: integer
          default: 0
      - name: receiver_is_verified
        in: query
        description: Only include tips to recipients that are verified
        schema:
          type: boolean
          default: false
      - name: current_user_follows
        in: query
        description: Only include tips involving the user's followers in the given
          capacity. Requires user_id to be set.
        schema:
          type: string
          enum:
          - sender
          - receiver
          - sender_or_receiver
      - name: unique_by
        in: query
        description: "Only include the most recent tip for a user was involved in\
          \ the given capacity.\n\nEg. 'sender' will ensure that each tip returned\
          \ has a unique sender, using the most recent tip sent by a user if that\
          \ user has sent multiple tips.\n    "
        schema:
          type: string
          enum:
          - sender
          - receiver
      - name: min_slot
        in: query
        description: The minimum Solana slot to pull tips from
        schema:
          type: integer
          default: 0
      - name: max_slot
        in: query
        description: The maximum Solana slot to pull tips from
        schema:
          type: integer
          default: 0
      - name: tx_signatures
        in: query
        description: A list of transaction signatures of tips to fetch
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_tips_response'
  /tracks:
    get:
      tags:
      - tracks
      description: Gets a list of tracks using their IDs or permalinks
      operationId: Get Bulk Tracks
      parameters:
      - name: permalink
        in: query
        description: The permalink of the track(s)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: id
        in: query
        description: The ID of the track(s)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: isrc
        in: query
        description: The ISRC of the track(s)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/inspect:
    get:
      tags:
      - tracks
      summary: Inspects the details of the files for multiple tracks
      description: Inspect multiple tracks
      operationId: Inspect Tracks
      parameters:
      - name: id
        in: query
        description: List of track IDs to inspect
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: original
        in: query
        description: Optional - if set to true inspects the original file quality
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_inspect_list'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/recent-premium:
    get:
      tags:
      - tracks
      description: Gets the most recently listed premium tracks
      operationId: Get Recent Premium Tracks
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
  /tracks/feeling-lucky:
    get:
      tags:
      - tracks
      description: Gets random tracks found on the "Feeling Lucky" smart playlist
      operationId: Get Feeling Lucky Tracks
      parameters:
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: limit
        in: query
        description: Number of tracks to fetch
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: min_followers
        in: query
        description: Fetch tracks from users with at least this number of followers
        schema:
          type: integer
          minimum: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}

  /tracks/recent-comments:
    get:
      tags:
      - tracks
      description: Gets the most recent tracks with active discussion
      operationId: Get Tracks With Recent Comments
      parameters:
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: limit
        in: query
        description: Number of tracks to fetch
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}
  /tracks/most-shared:
    get:
      tags:
      - tracks
      description: Gets the most shared tracks for a given time range
      operationId: Get Most Shared Tracks
      parameters:
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: limit
        in: query
        description: Number of tracks to fetch
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: time_range
        in: query
        description: The time range to consider
        schema:
          type: string
          default: week
          enum:
          - week
          - month
          - allTime
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/search:
    get:
      tags:
      - tracks
      description: Search for a track or tracks
      operationId: Search Tracks
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: query
        in: query
        description: The search query
        schema:
          type: string
      - name: genre
        in: query
        description: The genres to filter by
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - relevant
          - popular
          - recent
      - name: mood
        in: query
        description: The moods to filter by
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: only_downloadable
        in: query
        description: Return only downloadable tracks
        schema:
          type: string
          default: "false"
      - name: includePurchaseable
        in: query
        description: Whether or not to include purchaseable content
        schema:
          type: string
      - name: is_purchaseable
        in: query
        description: Only include purchaseable tracks and albums in the track and
          album results
        schema:
          type: string
      - name: has_downloads
        in: query
        description: Only include tracks that have downloads in the track results
        schema:
          type: string
      - name: key
        in: query
        description: Only include tracks that match the musical key
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: bpm_min
        in: query
        description: Only include tracks that have a bpm greater than or equal to
        schema:
          type: string
      - name: bpm_max
        in: query
        description: Only include tracks that have a bpm less than or equal to
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_search'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/trending:
    get:
      tags:
      - tracks
      description: Gets the top 100 trending (most popular) tracks on Audius
      operationId: Get Trending Tracks
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: genre
        in: query
        description: Filter trending to a specified genre
        schema:
          type: string
      - name: time
        in: query
        description: Calculate trending over a specified time range
        schema:
          type: string
          enum:
          - week
          - month
          - year
          - allTime
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/trending/underground:
    get:
      tags:
      - tracks
      description: Gets the top 100 trending underground tracks on Audius
      operationId: Get Underground Trending Tracks
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
  /tracks/{track_id}:
    get:
      tags:
      - tracks
      description: Gets a track by ID
      operationId: Get Track
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/{track_id}/access-info:
    get:
      tags:
      - tracks
      description: Gets the information necessary to access the track and what access
        the given user has.
      operationId: Get Track Access Info
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_info_response'
  /tracks/{track_id}/comment_count:
    get:
      tags:
      - tracks
      description: Get the comment count for a track
      operationId: Get Track Comment Count
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_comment_count_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/{track_id}/comment_notification_setting:
    get:
      tags:
      - tracks
      description: Get the comment notification setting for a track
      operationId: Get Track Comment Notification Setting
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_comment_notification_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/{track_id}/comments:
    get:
      tags:
      - tracks
      description: Get a list of comments for a track
      operationId: Get Track Comments
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          default: top
          enum:
          - top
          - newest
          - timestamp
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_comments_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/{track_id}/download:
    get:
      tags:
      - tracks
      summary: Download the original or MP3 file of a track
      description: Download an original or mp3 track
      operationId: Download Track
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: user_signature
        in: query
        description: |-
          Optional - signature from the requesting user's wallet.
                  This is needed to authenticate the user and verify access in case the track is gated.
        schema:
          type: string
      - name: user_data
        in: query
        description: Optional - data which was used to generate the optional signature
          argument.
        schema:
          type: string
      - name: nft_access_signature
        in: query
        description: |-
          Optional - nft access signature for this track which was previously generated by a registered DN.
                  We perform checks on it and pass it through to CN.
        schema:
          type: string
      - name: filename
        in: query
        description: "Optional - name of file to download. If not provided, defaults\
          \ to track original filename or title."
        schema:
          type: string
      responses:
        "200":
          description: Success
          content: {}
        "216":
          description: Partial content
          content: {}
        "400":
          description: Bad request
          content: {}
        "416":
          description: Content range invalid
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/{track_id}/inspect:
    get:
      tags:
      - tracks
      summary: Inspects the details of the file for a track
      description: Inspect a track
      operationId: Inspect Track
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: original
        in: query
        description: Optional - if set to true inspects the original file quality
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_inspect'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/{track_id}/stems:
    get:
      tags:
      - tracks
      description: Get the remixable stems of a track
      operationId: Get Track Stems
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stems_response'
  /tracks/{track_id}/stream:
    get:
      tags:
      - tracks
      summary: Get the streamable MP3 file of a track
      description: |-
        Stream an mp3 track
        This endpoint accepts the Range header for streaming.
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests
      operationId: Stream Track
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: preview
        in: query
        description: Optional - true if streaming track preview
        schema:
          type: boolean
          default: false
      - name: user_signature
        in: query
        description: |-
          Optional - signature from the requesting user's wallet.
                  This is needed to authenticate the user and verify access in case the track is gated.
        schema:
          type: string
      - name: user_data
        in: query
        description: Optional - data which was used to generate the optional signature
          argument.
        schema:
          type: string
      - name: nft_access_signature
        in: query
        description: |-
          Optional - gated content signature for this track which was previously generated by a registered DN.
                  We perform checks on it and pass it through to CN.
        schema:
          type: string
      - name: skip_play_count
        in: query
        description: Optional - boolean that disables tracking of play counts.
        schema:
          type: boolean
          default: false
      - name: api_key
        in: query
        description: Optional - API key for third party apps. This is required for
          tracks that only allow specific API keys.
        schema:
          type: string
      - name: skip_check
        in: query
        description: Optional - POC to skip node 'double dip' health check
        schema:
          type: boolean
      - name: no_redirect
        in: query
        description: Optional - If true will not return a 302 and instead will return
          the stream url in JSON
        schema:
          type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stream_url_response'
        "216":
          description: Partial content
          content: {}
        "400":
          description: Bad request
          content: {}
        "416":
          description: Content range invalid
          content: {}
        "500":
          description: Server error
          content: {}
  /tracks/{track_id}/top_listeners:
    get:
      tags:
      - tracks
      description: Get the users that have listened to a track the most
      operationId: Get Track Top Listeners
      parameters:
      - name: track_id
        in: path
        description: A Track ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/top_listener'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users:
    get:
      tags:
      - users
      description: Gets a list of users by ID
      operationId: Get Bulk Users
      parameters:
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: id
        in: query
        description: The ID of the user(s)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/address:
    get:
      tags:
      - users
      description: Gets User IDs from any Ethereum wallet address or Solana account address associated with their Audius account.
      operationId: Get User IDs by Addresses
      parameters:
      - name: address
        in: query
        description: Wallet address
        required: true
        style: form
        explode: true
        example:
          - "0x1234567890abcdef1234567890abcdef12345678"
          - "E2LCbKdo2L3ikt1gK6pwp1pDLuhAfHBNf6fEQXpAqrf9"
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_ids_addresses_response'
  /users/handle/{handle}:
    get:
      tags:
      - users
      description: Gets a single user by their handle
      operationId: Get User by Handle
      parameters:
      - name: handle
        in: path
        description: A User handle
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/handle/{handle}/tracks/ai_attributed:
    get:
      tags:
      - users
      description: Gets the AI generated tracks attributed to a user using the user's
        handle
      operationId: Get AI Attributed Tracks by User Handle
      parameters:
      - name: handle
        in: path
        description: A User handle
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort
        in: query
        description: "[Deprecated] Field to sort by"
        schema:
          type: string
          default: date
          enum:
          - date
          - plays
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: filter_tracks
        in: query
        description: Filter by public tracks
        schema:
          type: string
          default: all
          enum:
          - all
          - public
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/search:
    get:
      tags:
      - users
      description: Search for users that match the given query
      operationId: Search Users
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: query
        in: query
        description: The search query
        schema:
          type: string
      - name: genre
        in: query
        description: The genres to filter by
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - relevant
          - popular
          - recent
      - name: is_verified
        in: query
        description: Only include verified users in the user results
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_search'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/verify_token:
    get:
      tags:
      - users
      description: Verify if the given jwt ID token was signed by the subject (user)
        in the payload
      operationId: Verify ID Token
      parameters:
      - name: token
        in: query
        description: JWT to verify
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify_token'
        "400":
          description: Bad input
          content: {}
        "404":
          description: ID token not valid
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}:
    get:
      tags:
      - users
      description: Gets a single user by their user ID
      operationId: Get User
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/albums:
    get:
      tags:
      - users
      description: Gets the albums created by a user using their user ID
      operationId: Get Albums by User
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          default: recent
          enum:
          - recent
          - popular
      - name: query
        in: query
        description: Filter albums by name
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/albums_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/authorized_apps:
    get:
      tags:
      - users
      description: Get the apps that user has authorized to write to their account
      operationId: Get Authorized Apps
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorized_apps'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/balance/history:
    get:
      tags:
      - users
      description: Get the user's historical portfolio balance data
      operationId: Get User Balance History
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: start_time
        in: query
        description: Start time for the balance history query (ISO 8601 format). Defaults to 7 days ago.
        required: false
        schema:
          type: string
          format: date-time
      - name: end_time
        in: query
        description: End time for the balance history query (ISO 8601 format). Defaults to now.
        required: false
        schema:
          type: string
          format: date-time
      - name: granularity
        in: query
        description: Data granularity. 'hourly' returns hourly data points, 'daily' returns daily aggregated data. Defaults to 'hourly'.
        required: false
        schema:
          type: string
          enum:
          - hourly
          - daily
          default: hourly
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/balance_history_response'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/challenges:
    get:
      tags:
      - users
      description: Gets all challenges for the given user
      operationId: Get User Challenges
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: show_historical
        in: query
        description: Whether to show challenges that are inactive but completed
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_challenges'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}

  /users/{id}/coins:
    get:
      tags:
      - users
      description: 'Gets a list of the coins owned by the user and their balances'
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      operationId: Get User Coins
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_coins_response'
  /users/{id}/coins/{mint}:
    get:
      tags:
      - users
      description: 'Gets information about a specific coin owned by the user and their wallets'
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: mint
        in: path
        description: The mint address of the coin
        required: true
        schema:
          type: string
          example: "Dez1g5f3h4j5k6l7m8n9o0p1q2r3s4t5u6v7w8x9y0z"
      operationId: Get User Coin
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_coin_response'
  /wallet/{walletId}/coins:
    get:
      tags:
      - wallet
      description: 'Gets a list of the coins held by a wallet address and their balances'
      parameters:
      - name: walletId
        in: path
        description: A Solana wallet address
        required: true
        schema:
          type: string
          example: "Dez1g5f3h4j5k6l7m8n9o0p1q2r3s4t5u6v7w8x9y0z"
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      operationId: Get Wallet Coins
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_coins_response'
  /users/{id}/collectibles:
    get:
      tags:
      - users
      description: Get the User's indexed collectibles data
      operationId: Get User Collectibles
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collectibles_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/comments:
    get:
      tags:
      - users
      description: Get user comment history
      operationId: Get User Comments
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_comments_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/connected_wallets:
    get:
      tags:
      - users
      description: Get the User's ERC and SPL connected wallets
      operationId: Get connected wallets
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connected_wallets_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/developer_apps:
    get:
      tags:
      - users
      description: Gets the developer apps that the user owns
      operationId: Get Developer Apps
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/developer_apps'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/favorites:
    get:
      tags:
      - users
      description: Gets a user's favorite tracks
      operationId: Get Favorites
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/favorites_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/followers:
    get:
      tags:
      - users
      description: All users that follow the provided user
      operationId: Get Followers
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/followers_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/following:
    get:
      tags:
      - users
      description: All users that the provided user follows
      operationId: Get Following
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/following_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/history/tracks:
    get:
      tags:
      - users
      description: Get the tracks the user recently listened to.
      operationId: Get User's Track History
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/history_response'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/listen_counts_monthly:
    get:
      tags:
      - users
      description: Gets the listen data for a user by month and track within a given
        time frame.
      operationId: Get User Monthly Track Listens
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: start_time
        in: query
        description: Start time from which to start results for user listen count
          data (inclusive).
        required: true
        schema:
          type: string
      - name: end_time
        in: query
        description: End time until which to cut off results of listen count data
          (not inclusive).
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_track_listen_counts_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/muted:
    get:
      tags:
      - users
      description: Gets users muted by the given user
      operationId: Get Muted Users
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_response'
  /users/{id}/mutuals:
    get:
      tags:
      - users
      description: Get intersection of users that follow followeeUserId and users
        that are followed by followerUserId
      operationId: Get Mutual Followers
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mutual_followers_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/playlists:
    get:
      tags:
      - users
      description: Gets the playlists created by a user using their user ID
      operationId: Get Playlists by User
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          default: recent
          enum:
          - recent
          - popular
      - name: query
        in: query
        description: Filter playlists by name
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playlists_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/purchasers:
    get:
      tags:
      - users
      description: Gets the list of unique users who have purchased content by the
        given user
      operationId: Get purchasers
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: content_type
        in: query
        description: Type of content to filter by (track or album)
        schema:
          type: string
      - name: content_id
        in: query
        description: Filters for users who have purchased the given track or album
          ID
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchasers_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/purchases/download:
    get:
      tags:
      - users
      description: Downloads the purchases the user has made as a CSV file
      operationId: Download Purchases as CSV
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content: {}
  /users/{id}/recommended-tracks:
    get:
      tags:
      - users
      description: Gets the recommended tracks for the user
      operationId: Get User Recommended Tracks
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: time_range
        in: query
        description: The time range for the recommended tracks
        schema:
          type: string
          default: week
          enum:
          - week
          - month
          - allTime
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/related:
    get:
      tags:
      - users
      description: Gets a list of users that might be of interest to followers of
        this user.
      operationId: Get Related Users
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: filter_followed
        in: query
        description: "If true, filters out artists that the current user already follows"
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/related_artist_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/remixers:
    get:
      tags:
      - users
      description: "Gets the list of unique users who have remixed tracks by the given\
        \ user, or a specific track by that user if provided"
      operationId: Get remixers
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: track_id
        in: query
        description: Filters for remixers who have remixed the given track ID
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/remixers_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/reposts:
    get:
      tags:
      - users
      description: Gets the given user's reposts
      operationId: Get Reposts
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reposts'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/sales/aggregate:
    get:
      tags:
      - users
      description: Gets the aggregated sales data for the user
      operationId: Get Sales Aggregate
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sales_aggregate_response'
  /users/{id}/sales/download:
    get:
      tags:
      - users
      description: Downloads the sales the user has made as a CSV file
      operationId: Download Sales as CSV
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content: {}
  /users/{id}/sales/download/json:
    get:
      tags:
      - users
      description: Gets the sales data for the user in JSON format
      operationId: Download Sales as JSON
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: grantee_user_id
        in: query
        description: Optional receiving user ID for email decryption
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sales_json_response'
  /users/{id}/subscribers:
    get:
      tags:
      - users
      description: All users that subscribe to the provided user
      operationId: Get Subscribers
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscribers_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/supporters:
    get:
      tags:
      - users
      description: Gets the supporters of the given user
      operationId: Get Supporters
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_supporters'
  /users/{id}/supporting:
    get:
      tags:
      - users
      description: Gets the users that the given user supports
      operationId: Get Supported Users
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_supported_users'
  /users/{id}/tags:
    get:
      tags:
      - users
      summary: Fetch most used tags in a user's tracks
      description: Gets the most used track tags by a user.
      operationId: Get Top Track Tags
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/tracks:
    get:
      tags:
      - users
      description: Gets the tracks created by a user using their user ID
      operationId: Get Tracks by User
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort
        in: query
        description: "[Deprecated] Field to sort by"
        schema:
          type: string
          default: date
          enum:
          - date
          - plays
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: filter_tracks
        in: query
        description: Filter by public tracks
        schema:
          type: string
          default: all
          enum:
          - all
          - public
      - name: gate_condition
        in: query
        description: Filter tracks by gate condition type. Multiple values can be provided to filter by multiple gate types (OR logic)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ungated
            - usdc_purchase
            - follow
            - tip
            - nft
            - token
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/tracks/remixed:
    get:
      tags:
      - users
      description: Gets tracks owned by the user which have been remixed by another
        track
      operationId: Get User Tracks Remixed
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          default: 0
          type: integer
          minimum: 0
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_tracks_remixed_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /users/{id}/withdrawals/download:
    get:
      tags:
      - users
      description: Downloads the USDC withdrawals the user has made as a CSV file
      operationId: Download USDC Withdrawals as CSV
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: "The signature of data, used for signature recovery"
        schema:
          type: string
      responses:
        "200":
          description: Success
          content: {}
  /users/{receiving_user_id}/emails/{grantor_user_id}/key:
    get:
      tags:
      - users
      description: Gets the encrypted key for email access between the receiving user
        and granting user.
      operationId: Get User Email Key
      parameters:
      - name: receiving_user_id
        in: path
        description: ID of user receiving email access
        required: true
        schema:
          type: string
      - name: grantor_user_id
        in: path
        description: ID of user granting email access
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_access_response'
        "400":
          description: Bad request
          content: {}
        "500":
          description: Server error
          content: {}
  /coins:
    get:
      tags:
        - coins
      operationId: Get Coins
      description: 'Gets information about coins'
      parameters:
      - name: mint
        in: query
        description: The mint addresses of the coins
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: owner_id
        in: query
        description: The user IDs of artists with minted coins
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: ticker
        in: query
        description: The tickers of the coins
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: query
        in: query
        description: Search by the coin name or ticker
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number
          * limit)
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      - name: sort_method
        in: query
        description: Field to use for sorting the results
        schema:
          type: string
          default: market_cap
          enum:
          - market_cap
          - volume
          - price
          - created_at
          - holder
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/coins_response'
    post:
      tags:
        - coins
      operationId: Create Coin
      description: 'Creates a new artist coin'
      parameters:
      - name: user_id
        in: query
        description: The user ID to create a coin
        required: true
        schema:
          type: string
          example: "7eP5n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_coin_request'
      responses:
        '201':
          description: Success - Coin created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_coin_response'
        '400':
          description: Bad request - Invalid parameters
          content: {}
        '401':
          description: Unauthorized - User not authenticated
          content: {}
        '500':
          description: Server error
          content: {}
  /coins/{mint}:
    get:
      tags:
        - coins
      operationId: Get Coin
      description: 'Gets information about a specific coin by its mint address'
      parameters:
      - name: mint
        in: path
        description: The mint address of the coin
        required: true
        schema:
          type: string
          example: 9LzCMqDgTKYz9Drzqnpgee3SGa89up3a247ypMj2xrqM
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/coin_response'
    post:
      tags:
        - coins
      operationId: Update Coin
      description: 'Updates information about a specific coin by its mint address'
      parameters:
      - name: mint
        in: path
        description: The mint address of the coin
        required: true
        schema:
          type: string
[...]
